### Immutability

In [3]:
# strings are immutable
# Change S for P to make Pam
# TypeError: 'str' object does not support item assignment
name = "Sam"

In [4]:
# name[0] = 'P'

In [6]:
# Concatenation
last_letters = name[1:]

In [7]:
last_letters

'am'

In [8]:
'P' + last_letters

'Pam'

In [9]:
x = 'Hello World'

In [15]:
x + " it is beautiful outside!"

'Hello World it is beautiful outside it is beautiful outside it is beautiful outside!'

In [13]:
# reassignment multiple times
x = x + " it is beautiful outside"

In [14]:
x

'Hello World it is beautiful outside it is beautiful outside'

In [16]:
# multiplcation for concatenation
letter = 'z'

In [17]:
letter * 10

'zzzzzzzzzz'

In [18]:
# errors if we use numbers and a string
2 + 3

5

In [19]:
# string return 23 and not 5
'2' + '3'

'23'

In [33]:
# Builtin methods
# 
x = 'Hello World'

In [34]:
# Uppercase, it is not inplace
# to reassign we do x = x.upper()
x.upper()

'HELLO WORLD'

In [35]:
x

'Hello World'

In [36]:
# didnt execute the method
x.upper

In [37]:
x.lower()

'hello world'

In [38]:
# split will split string on the whitespace or letter you pass in
# to get lists out of a string
x.split()

['Hello', 'World']

In [39]:
x = 'Hi this is a string'

In [40]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [41]:
# removes the i's and will now include the spaces
x.split('i')

['H', ' th', 's ', 's a str', 'ng']