# Useful Operators

There are a few built-in functions and "operators" in Python that don't fit well into any category, so we will go over them in this lecture, let's begin!

In [1]:
# range function, all the way upto but not including like slicing sysntax

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [2]:
# Starting index position and go up to
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
# steps of 2 for iteration
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [6]:
# range is a generator
# you can cast it to a list
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [7]:
# Enumerate
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [8]:
index_count = 0
word = 'abcde'

for letter in word:
    
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [9]:
# enumerate done in the form of tuples
word = 'abcde'

for item in enumerate(word):
    
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [11]:
# enumerate done in the form of tuples
# lets do some unpacking

# Init signature: enumerate(iterable, start=0)
# Docstring:     
# Return an enumerate object.

#   iterable
#     an object supporting iteration

# The enumerate object yields pairs containing a count (from start, which
# defaults to zero) and a value yielded by the iterable argument.

# enumerate is useful for obtaining an indexed list:
#     (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
# Type:           type
# Subclasses:     

word = 'abcde'

for index,letter in enumerate(word):
    
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [15]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [16]:
# zip function will pair up the lists above
# and pair up the items, creating a tuple
# zip will together as far as the shortest list

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [17]:
# cast the list together
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [18]:
# is x in list 1,2,3
'x' in [1,2,3]

False

In [19]:
'x' in ['x', 'y', 'z']

True

In [20]:
2 in [1,2,3]

True

In [21]:
# works on dictioneris for their keys
'mykey' in {'mykey':345}

True

In [22]:
d = {'mykey':345} 
345 in d.values()

True

In [23]:
d = {'mykey':345} 
345 in d.keys()

False

In [25]:
# mathematicaL functions
mylist4 = [10,20,30,40,100]
min(mylist4)

10

In [26]:
max(mylist4)

100

In [27]:
# random library
# first example of import a library
from random import shuffle

In [28]:
mylist5 = [1,2,3,4,5,6,7,8,9,10]

In [31]:
# in pace function
shuffle(mylist5)

In [32]:
mylist5

[9, 4, 7, 5, 10, 3, 6, 2, 1, 8]

In [33]:
from random import randint

In [34]:
randint(0,100)

30

In [35]:
randint(0,100)

99

In [36]:
mynum = randint(0,10)

In [37]:
mynum

10

In [38]:
# Accept user input, using the input function
# always accepts things as a string
input('Enter a number here: ')

Enter a number here:  50

'50'

In [40]:
result = input('Favourite number: ')

Favourite number:  33

In [41]:
type(result)

str

In [42]:
# cast of trnasform it into another data type
float(result)

33.0

In [43]:
int(result)

33

In [44]:
# We can cast all in one line from one data type to another
result = int(input('Favourite number: '))

Favourite number:  33

In [45]:
type(result)

int