# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

**Numbers:**  
Python has many types of numbers.  
There are are integers that can be whole or negative numbers.  
There can be floating point numbers too.  

**Strings:**  
Strings are used in Python to record text information, such as names. Strings in Python are actually a sequence, which basically means Python keeps track of every element in the string as a sequence.  

**Lists:**  
Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!  
(mutable)

**Tuples:**  
In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.  
(immutable)  
**Dictionaries:**  
Are key-value pairing that are unordered. They are similar to hash tables in other languages.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [6]:
2**3*12+4.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [8]:
4 * (6 + 5)

44

In [9]:
4 * 6 + 5

29

In [10]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> **Answer: floating point number**

In [11]:
type (3 + 1.5 + 4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [12]:
# Square root:
100 ** 0.5

10.0

In [13]:
# Square:
10 ** 2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [15]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [17]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [18]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [19]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [20]:
# Method 1: [0]*3
[0,0,0]

[0, 0, 0]

In [97]:
# Method 2:
my_list=[0,0,0]
my_list

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [98]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [99]:
list4 = [5,3,4,6,1]

[1, 3, 4, 5, 6]

In [100]:
# Method 1

In [101]:
list4.sort()
list4

[1, 3, 4, 5, 6]

In [102]:
# Method 2
sorted(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [27]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [28]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [103]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [104]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

#Grab hello
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [105]:
d['k1']

[1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]

Can you sort a dictionary? Why or why not?<br><br>
No, as they are unordered mappings for storing objects

## Tuples

What is the major difference between tuples and lists?<br><br>
They are immutable unlike lists

How do you create a tuple?<br>

In [107]:
t = (1,2,3)

## Sets

What is unique about a set?<br><br>
They are unordered collections of unique elements, meaning there can only be one representative of the same object.

Use a set to find the unique values of the list below:

In [90]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer first then check by typing it in!)

In [91]:
# Answer before running cell - False
2 > 3

False

In [92]:
# Answer before running cell - False
3 <= 2

False

In [93]:
# Answer before running cell - False
3 == 2.0

False

In [94]:
# Answer before running cell - True
3.0 == 3

True

In [95]:
# Answer before running cell - False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [96]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False? - False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!